In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
creditcard=pd.read_csv("creditcard.csv")

In [3]:
creditcard.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
creditcard.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [5]:
fraud = creditcard[creditcard['Class'] == 1] 
valid = creditcard[creditcard['Class'] == 0] 
fraud_precentage = (len(fraud)/float(len(valid)+len(fraud)))*100
print("Fraud_precentage is "+str(fraud_precentage)) 
print('Fraud Cases: {}'.format(len(fraud))) 
print('Valid Transactions: {}'.format(len(valid)))

Fraud_precentage is 0.1727485630620034
Fraud Cases: 492
Valid Transactions: 284315

The data is highly unbalanced one as fraud cases are very low as compared to valid one

In [6]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [7]:
valid.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

The correlation matrix graphically gives us an idea of how features correlate with each other and can help us predict what are the features that are most relevant for the prediction.

In [8]:
corrmat = creditcard.corr()  
corrmat.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,31.000000,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,...,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,3.100000e+01,31.000000,31.000000
mean,0.006748,2.543033e-02,1.771892e-02,5.694856e-03,3.635222e-02,2.231424e-02,3.578457e-02,4.176674e-02,2.838215e-02,2.739875e-02,...,3.842413e-02,3.484077e-02,3.018789e-02,3.166914e-02,2.330284e-02,3.096259e-02,3.358937e-02,3.259295e-02,0.012018,-0.020238
std,0.221123,1.876039e-01,2.066485e-01,2.046769e-01,1.823614e-01,1.977211e-01,1.837414e-01,1.954499e-01,1.814216e-01,1.815042e-01,...,1.797314e-01,1.814132e-01,1.813889e-01,1.797451e-01,1.861714e-01,1.800024e-01,1.794613e-01,1.795692e-01,0.252529,0.224274
min,-0.419618,-2.277087e-01,-5.314089e-01,-4.196182e-01,-1.052602e-01,-3.863563e-01,-6.301647e-02,-1.872566e-01,-1.030791e-01,-9.773269e-02,...,-1.140973e-15,-6.480065e-02,-1.126326e-01,-1.618187e-02,-2.330828e-01,-4.140710e-02,-5.134591e-03,-9.412688e-03,-0.531409,-0.326481
25%,-0.064459,-1.352070e-16,-3.108725e-16,-3.825340e-16,-2.967891e-16,-4.671235e-16,-2.323238e-16,-1.423125e-16,-2.092958e-16,-3.742838e-16,...,-2.619366e-16,-5.991489e-16,4.058867e-17,-3.041457e-16,-3.715724e-16,-5.046902e-16,-4.124298e-16,-3.195540e-16,-0.060476,-0.106416
50%,-0.010593,7.433820e-17,4.697350e-17,2.206522e-16,-8.522435e-17,6.391162e-17,1.898638e-16,1.429426e-16,-8.691834e-17,4.578389e-17,...,1.947458e-17,1.150829e-17,2.327911e-16,-4.032806e-17,8.066738e-17,-1.209975e-16,-2.287414e-16,-5.863664e-17,-0.002986,-0.004223
75%,0.047939,2.654353e-16,2.619138e-16,5.833898e-16,2.164830e-16,5.342565e-16,4.190368e-16,9.715086e-16,3.166971e-16,4.032395e-16,...,4.582388e-16,4.043979e-16,5.831542e-16,1.933613e-16,6.520228e-16,4.315698e-16,3.450565e-16,8.937408e-16,0.031288,0.018727
max,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000

In [9]:
creditcard.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
Y=creditcard['Class']
X=creditcard.drop(['Class'],axis=1)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=101,stratify=Y,test_size=0.40)

In [13]:
X_train,X_valid,Y_train,Y_valid=train_test_split(X_train,Y_train,random_state=101,stratify=Y_train,test_size=0.5)

In [19]:
Y_train.value_counts(normalize=True)

0    0.99828
1    0.00172
Name: Class, dtype: float64

In [20]:
Y_test.value_counts(normalize=True)

0    0.998271
1    0.001729
Name: Class, dtype: float64

In [21]:
Y_valid.value_counts(normalize=True)

0    0.998268
1    0.001732
Name: Class, dtype: float64

In [23]:
print(X_train.shape,Y_train.shape)

(85442, 30) (85442,)

In [24]:
print(X_valid.shape,Y_valid.shape)

(85442, 30) (85442,)

In [25]:
print(X_test.shape,Y_test.shape)

(113923, 30) (113923,)

In [26]:
from sklearn.tree import DecisionTreeClassifier

# Using Simple Decision Tree Classifier

In [29]:
dtc=DecisionTreeClassifier(random_state=10)
dtc

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=10, splitter='best')

In [30]:
dtc.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=10, splitter='best')

In [31]:
dtc.score(X_train,Y_train)

1.0

In [32]:
dtc.score(X_valid,Y_valid)

0.9990519884834157

In [33]:
dtc.score(X_test,Y_test)

0.9990607691159819

In [34]:
from sklearn.metrics import accuracy_score

In [38]:
Y_predict=dtc.predict(X_test)

In [46]:
Y_predict.shape

(113923,)

In [59]:
Y_predict=pd.Series(Y_predict)
Y_predict

0         0
1         0
2         0
3         0
4         0
         ..
113918    0
113919    0
113920    0
113921    0
113922    0
Length: 113923, dtype: int64

In [64]:
Y_predict.value_counts()

0    113723
1       200
dtype: int64